/*buzzfeed red #ee3322*/
/*buzzfeed blue #0077ee*/
/*buzzfeed yellow #ffee00*/

* {
	margin: 0;
	padding: 0;
}

body {
	color: black;
	font-family: "ProximaNova", sans-serif !important;
	background-color: #ffffff;
	font-size: 1em;
	font-weight: bold;
	margin: auto;
}

h1 {
	text-align: center;
	margin: 1em 0 .3em 0;
	color: #ee3322;
	font-size: 2.5em;
}

a {
	text-decoration: none;
	font-size: 24px;
	color: #0077ee;
}

img {
	margin: 330px 212px 0;
}

#toolbox {
	margin: 0 auto;
	width: 600px;
	height: 600px;
	/*border: 5px solid #ee3322;*/
	padding: 0;
	border-radius: 1em;
	background: url("toolbox.png") no-repeat;
	background-size: cover;
	margin-top: -52px;
}

.badge {
	width: 177px;
    position: absolute;
    top: 57px;
    left: 425px;
}
